*{
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
}

.flex-container{
    width: 130px;
    height: 300px;
    border: 3px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.flex_child{
    border: 2px solid green;
    flex-grow: 1;
    flex-basis: 140px;
    flex-shrink: 1;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    flex-shrink: 0;
}

.boxo{
    align-self: flex-start;
}