*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-image: url("aaa.jpg");
    background-position: top;
    background-size: cover;
    
    clip-path: polygon(0 0, 100% 0, 100% 5vh);
} */

.header{
    height: 100vh;
    background-image: url("aaa.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 5vh);
}

.h4-text{
    color: rgba(119, 119, 119, 0.829);
    font-family: 'Courier New', Courier, monospace;
}

.text-box{
    position: absolute;
    top: 90%;
    left: 95%;
    transform: translate(-90%, -95%);
}

.firstline{
    display: block;
    font-size: 20px;
    width: 200px;
}

.secondline{
    display: block;
    font-size: 16px;
    width: 500px;
}