*{
    margin: 0;
    padding: 0;
}

.flex-container{
    height: auto;
    width: 100%;
    border: 3px solid black;

    display: flex;
    align-items: stretch;
}

.flex_child{
    border: 2px solid green;
    flex-basis: 300px;
}